body{
    font-family: sans-serif;
    margin: 0;
}

header{

    display: flex;
    align-items: center;
    justify-content: center;

    background: #139fb1;
	background: -webkit-linear-gradient(to right, #139fb1, #2029d1);
	background: linear-gradient(to right, #139fb1, #2029d1);
    height: 100px;

    border-bottom: solid 1.5px #000;
}

header h1{
    font-size: 40px;
    position: absolute;
    left: 40px;
    color: antiquewhite;
}